:root {
  --white:#ffffff;
  --off-white:#faefd8;
  --sand:#ebd5d2;
  --light-pink:#ffbebe;
  --pink:#f89284;
  --orange:#f77a2c;
  --lavender:#c2c2f1;
  --light-blue:#d3ffff;
  --blue:#8fbff8;
  --bright-blue:#0271f7;
  --red:#D60223;
  --black:#000000;
}
body {
  background: var(--black);
}
body::before {
  content: '';
  background: url(../img/1cYrMYF.gif) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}