.character {
  display: flex;
  align-items: center;
  justify-content: center;
}
.character .character__main {
  text-align: center;
  width: 30%;
  height: 95vh;
  position: relative;
}
.character .character__main img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.character .character__main .character__name::before {
  content: '';
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.character .character__main .character__name h2 {
  color: var(--white);
  font-family: var(--comand);
  position: absolute;
  bottom: -15px;
  width: 100%;
  font-size: 1.6rem;
}
.character .character__main.character__player-1 .character__name::before {
  background-color: var(--bright-blue);
}
.character .character__main.character__player-2 .character__name::before {
  background-color: var(--red);
}


