.header {
  z-index: 1;
  display: flex;
  justify-content: center;
}
.header__title {
  font-family: var(--comand);
  text-transform: uppercase;
  color: var(--white);
  font-size: 2rem;
  -webkit-text-stroke: 2px var(--off-white);
}
